@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li class="menu-item">
            <a href="#"><i class="fa fa-user fa-lg" style="margin-right:4px;"></i> @User.Identity.GetUserName()</a>
        </li>
        <li class="menu-item"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg" style="margin-right:4px;"></i>Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="menu-item"><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in fa-lg" style="margin-right:4px;"></i>Войти</a></li>
        <li class="menu-item"><a href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus fa-lg" style="margin-right:4px;"></i>Зарегистрироватся</a></li>
    </ul>
}
