
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div id="about-mainImg" style="text-align:center;">
                    <p><img src="~/Content/Images/SiteImages/HomeAbout/book_shop.jpg" alt="shop_photo"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="shop-about">
                    <p style="text-align:center;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget tellus
                        sit amet enim tristique posuere. Vestibulum et nisi augue. Maecenas eu magna sed eros feugiat tempor.
                        Pellentesque vitae accumsan eros, eleifend venenatis lectus. Pellentesque hendrerit urna aliquet ligula sodales tempus.
                        Cras bibendum ex a orci sodales, at fermentum turpis blandit. Nam in blandit lorem. Phasellus pretium tristique arcu.
                        Sed feugiat bibendum erat nec tristique. Mauris fringilla nibh a ex condimentum facilisis. Maecenas placerat eleifend
                        ligula ut ornare. Suspendisse porta faucibus bibendum. Mauris vehicula, mauris ultricies varius semper, magna nunc pharetra mi, sit amet
                        faucibus ligula justo non turpis. Donec molestie dui ac purus mollis interdum. In ante tellus, scelerisque at eros nec, porta cursus odio. Quisque a ligula lobortis,
                        rutrum massa ac, tempor urna.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

