
@{
    ViewBag.Title = "Delivery";
}

<h2>Наш магазин предлагает следующие методы доставки:</h2>

<div class="deliver-method">
    <p><b>1. Самовывоз</b></p>
    <p>Главное преимущество самовывоза — это экономия времени, вы забираете заказ раньше, чем его мог бы привезти курьер:</p>
    <p>
        - через 1-2 часа после оформления, если интересующий вас товар есть на складе в Вашем городе
        (товары, присутствующие на нашем складе, отмечены специальным значком);
    </p>
    <p>
        - через 2-3 дня, если часть товаров вашего заказа в данный момент отсутствует — то есть в день
        поступления товаров на склад (наш оператор сообщит вам о появлении товаров на складе).
    </p>
    <p>
        <b>ВНИМАНИЕ!</b> Срок хранения заказов в пункте самовывоза составляет 14 дней. По истечению этого срока,
        невостребованные заказы расформировываются и возвращаются на склад.
    </p>
    <hr />
</div>
<div class="deliver-method">
    <p><b>2. Доставка курьером по городу</b></p>
    <p>Доставка осуществляется в режиме "сегодня на сегодня"  при условии наличия товара и поступления заказа <span style="text-decoration:underline;"><b>до 12-00</b></span></p>
    <p>После заказа с вами свяжется сотрудник интернет-магазина и уточнит удобное для вас время доставки. Стоимость доставки составляет 30 грн.</p>
    <hr />
</div>
<div class="deliver-method">
    <p><b>3. Доставка курьерской службой "Новая почта"</b></p>
    <p>Адреса представительств Новой почты вы можете посмотреть <a href="https://novaposhta.ua/timetable">на этой странице</a></p>
    <p>При заказе на сумму от 400 грн доставка осуществляется бесплатно.</p>
    <p>Стоимость доставки Новой почтой на склад в Вашем городе составляет 30 грн.</p>
    <p>Стоимость срочной доставки "на завтра" составляет 45 грн. Срочной доставкой можно воспользоваться при условии наличия всех позиций заказа на одном складе.</p>
    <p>Если товар есть в наличии, заказ оформляется и передается на Новую Почту в день заказа или на следующий день.</p>
    <p>
        После оформления заказа с вами свяжется наш сотрудник и продиктует номер декларации. Если вы выбрали вариант доставки на склад Новой почты, вам необходимо
        с паспортом и номером декларации прийти в отделение Новой Почты, где Вы получите заказ. <b>Забрать заказ со склада Новой почты вы должны в течении пяти дней,
        иначе посылка будет отправлена назад!</b>
    </p>
    <hr />
</div>

